@import 'common/styles/base';

.lobby__page--root {
  display: flex;
  height: 100%;
  flex: 1;
  .lobby__section {
    padding: 22px 26px;
  }
  .section__divider {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      background-color: $white;
      width: 1px;
      height: 100%;
    }
  }
  .lobby__sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    .my__nickname {
      font-size: 18px;
      line-height: 21px;
      padding: 15px 1rem 22px;
      display: flex;
      justify-content: space-between;
      .notification__btn {
        color: $white;
        cursor: pointer;
        border: 1px solid $white;
      }
    }
    .filter__container {
      display: flex;
      justify-content: space-around;
      padding: 17px;
      .toggle__btn {
        border: 1px solid $white;
        font-size: 20px;
        line-height: 23px;
        color: $white;
        cursor: pointer;

        &.selected {
          background-color: $white;
          color: $dark-navy;
        }
      }
    }

    .user__list__container {
      flex: 1;
      margin: 20px 24px 37px;
      .user__list__scroll__root {
        overflow: auto;
        height: 380px;
        min-height: 100%;
      }
      .user__list--item {
        font-size: 15px;
        line-height: 18px;
        padding: 8px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .dot {
          height: 12px;
          width: 12px;
          background-color: $fluo-blue;
          border-radius: 50%;
          display: inline-block;
          margin-right: 12px;
          &.offline {
            background-color: $offline;
          }
        }
        .name__span {
          display: inline-block;
          max-width: 150px;
          word-break: keep-all;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        &.activated {
          background-color: $new-color;
        }
      }
    }
    .button__group {
      display: flex;
      justify-content: space-evenly;

      .lobby__btn {
        border-radius: 5px;
        color: $white;
        font-size: 16px;
        line-height: 19px;
        background-color: $azure-blue;
        padding: 16px 10px;
        min-width: 95px;
        cursor: pointer;
        &.lobby__btn--dark {
          background-color: $light-navy;
        }
      }
    }
  }
  .lobby__main {
    flex: 3;
    display: flex;
    flex-direction: column;
    &.lobby__section {
      padding-right: 42px;
    }
    .lobby__container {
      padding-top: 25px;
      .room__list__scroll__root {
        display: flex;
        flex-wrap: wrap;
        overflow: auto;
        gap: 34px 46px;
        height: 380px;
        min-height: 100%;
        align-content: flex-start;
        padding: 0 56px 0 16px;
      }
      flex: 1;
      .empty__item,
      &::after {
        content: '';
        flex-grow: 1;
        flex-basis: 250px;
      }

      .room__container {
        flex-basis: 250px;
        flex-grow: 1;
        // margin-right: 46px;
        // margin-bottom: 34px;
        border: 1px solid $white;
        padding: 13px 14px 16px;
        cursor: pointer;

        &:hover {
          background-color: $new-color;
        }
        :not(:last-child) {
          margin-bottom: 21px;
        }

        &.room__type--secret {
          position: relative;
          background-image: url('../../common/assets/lock.png');
          background-repeat: no-repeat;
          background-position: top 12px right 16px;
        }

        .room__title {
          font-size: 18px;
          line-height: 21px;
        }
        .room__desc {
          font-size: 16px;
          line-height: 19px;
        }
      }
    }
  }
}
