@import 'common/styles/base';
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background: #fff;
  padding: 24px 30px 30px;
  border-radius: 20px;
  &.modal--sm {
    min-width: 305px;
  }
  &.modal--md {
    min-width: 382px;
  }
  &.modal--lg {
    min-width: 418px;
  }

  .modal-content {
    margin-top: 40px;
    .modal__title {
      font-size: 20px;
      line-height: 23px;
      color: $navy;
      text-align: center;
      padding-bottom: 4px;
    }

    .modal__content__row {
      margin-top: 24px;
      &.modal__content__row--horizontal {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .modal__label {
        font-size: 18px;
        line-height: 21px;
        color: $navy;
        padding-bottom: 4px;
        margin-right: 16px;
      }
      .modal__input--container {
        padding: 0 20px;
        display: flex;
        justify-content: flex-start;
        column-gap: 15px;

        &.toggle__btn__container {
          padding: 10px 0 8px 20px;
        }
        input {
          width: 100%;
          border: none;
          border-bottom: 1px solid $new-color;
          font-size: 16px;
          line-height: 19px;
          padding: 8px 0;
        }
        .toggle__btn {
          border: 1px solid $new-color;
          font-size: 20px;
          line-height: 23px;
          color: $new-color;
          cursor: pointer;

          &.selected {
            background-color: $new-color;
            color: $white;
          }
        }
      }
      .checkbox__container {
        display: block;
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        font-size: 22px;
        height: 25px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        & input:checked ~ .checkmark {
          background-color: $new-color;
          background-image: url('../../common/assets/checkbox.png');
          background-repeat: no-repeat;
          background-position: center center;
          &:after {
            display: block;
          }
        }

        & input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }
        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 25px;
          width: 25px;
          background-color: #ddd;
          border: 1px solid $new-color;
        }
      }
    }

    .modal__action__container {
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        padding: 5px 15px;
        margin: 0 10px;
        cursor: pointer;
        position: relative;

        &:hover {
          background-color: $new-color;
          color: $white;
        }
      }
    }
  }
  &.modal--notification {
    border-radius: 0;
    background-color: $transparent-notification;
    height: 430px;
    min-width: 583px;
    color: $white;
    padding: 15px 12px 15px 32px;
    .modal-content {
      margin: 0;
      position: relative;
      height: 90%;
      .notification__title {
        margin-right: 40px;
        padding-bottom: 12px;
        font-size: 16px;
        line-height: 19px;
      }

      .close__btn {
        position: absolute;
        top: -10px;
        right: 0px;
        color: $white;
        cursor: pointer;
        font-size: 16px;
        line-height: 19px;
        padding: 10px;
      }

      .notification__list__container {
        min-height: 100%;
        height: 200px;
        overflow: auto;
        &.fancy__scroll {
          /* width */
          &::-webkit-scrollbar {
            width: 6px;
            border-radius: 10px;
          }

          /* Track */
          &::-webkit-scrollbar-track {
            background: $navy;
            border-radius: 10px;
          }

          /* Handle */
          &::-webkit-scrollbar-thumb {
            background: $white;
            border-radius: 10px;
          }

          /* Handle on hover */
          &::-webkit-scrollbar-thumb:hover {
            background: $azure-blue;
          }
        }

        .notification__list__item {
          margin-right: 40px;
          padding: 17.25px 0;
          .notification__content {
            padding-bottom: 8px;
          }

          .bottom__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .action__btn__container {
              button {
                color: $white;
                padding: 8px 15px;
                cursor: pointer;

                &:hover {
                  background-color: $white;
                  color: $dark-navy;
                }
              }
            }
          }
        }
      }
    }
  }

  &.modal--profile {
    cursor: default;
    position: absolute;
    border-radius: 0;
    background: rgba(54, 65, 113, 0.7);
    max-width: 600px;
    border: 1px solid white;
    min-width: 300px;
    line-height: 1.4;
    color: $white;

    font-size: 18px;
    padding: 20px 28px;

    .modal-content {
      margin: 0px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .modal--profile__header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .close__btn {
          padding: 0px;
          color: white;
          cursor: pointer;
        }
      }

      .modal--profile__image {
        width: 93px;
        margin: 20px auto 15px;
      }

      .modal--profile__more {
        cursor: pointer;
        font-size: 16px;
      }

      .modal--profile__status {
        width: 220px;
        background-color: rgba(255, 255, 255, 0.15);
        border: 1px rgba(255, 255, 255, 0.6) solid;
        height: 120px;
        border-radius: 5px;
        font-size: 16px;
        margin: 20px auto;
        box-sizing: border-box;
        padding: 10px;
        color: white;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.44);
}
