@import 'common/styles/base';

.game__page--root {
  flex: 1;
  padding: 20px;
  .chats__container {
    width: 100%;
    padding: 10px 20px;
    background-color: $dark-navy;
    height: 185px;
    display: flex;
    flex-direction: column;
    .chat__history__container {
      flex: 1;
      padding-bottom: 20px;
      .chat__history__scroll__root {
        overflow: auto;
        height: 100px;
        min-height: 100%;
      }
    }
    .chat__input__container {
      display: flex;
      .chat__input {
        flex: 1;
        background-color: transparent;
        border: 1px solid $white;
        color: $white;
        padding-left: 10px;
      }
      .chat__send__btn {
        padding: 4px 8px;
        border: 1px solid $white;
        color: $white;
      }
    }
  }
}
.header__mini {
  font-size: 16px;
}
.board-background {
  background: #131625;
}
.slots {
  display: flex;
  position: relative;
  width: 572px;
  height: 240px;
  justify-content: space-between;
  margin-bottom: 55px;
}
.slot {
  flex: 1;
  position: relative;
}
.slot > .other-board {
  z-index: 2;
  position: absolute;
}
.slot > .other-board-background {
  background: #131625;
  position: absolute;
}
.myNickName {
  text-align: center;
}
.otherNickName {
  position: relative;
  text-align: center;
  width: 127px;
  top: 250px;
}

.modal--rank {
  & > .modal-content {
    margin-top: 0px;
    
    & > .rank-table {
      text-align: center;
      min-width: 382px;

      & > tbody > tr:nth-child(1) {
        color: #0055FB;
      }

      & > tbody > tr:nth-child(2) {
        color: #3863B8;
      }

      & > tbody > tr:nth-child(3) {
        color: #43508B;
      }

      & > tbody > tr:nth-child(4) {
        color: #1C2137;
      }
    }

    & .close__btn {
      cursor: pointer;
      left: 140px;
      top: -13px;
      position: relative;
    }
  }
}