$dark-navy: #1c2137;
$fluo-blue: #0055fb;
$white: #ffffff;
$azure-blue: #3863b8;
$light-navy: #43508b;
$navy: #2b3150;
$offline: #c4c4c4;
$new-color: #364171;
$transparent-light-navy: #43508bee;
$transparent-azure-blue: #3863b8ee;
$transparent-notification: #3b4883cf;
