@import 'common/styles/base';

.App {
  color: $white;
  background-color: $dark-navy;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .login__title {
    margin: 2.5rem 0 2rem;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
  }
}
