@import 'common/styles/base';

.App {
  color: $white;
  background-color: $dark-navy;
  display: flex;
  flex: 1;
  overflow: auto;

  & > .full__page--root {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.mb--40 {
  padding-bottom: 40px;
}

.absolute_border_bottom {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    background-color: $white;
    width: 100%;
    height: 1px;
    top: 100%;
    left: 0;
  }
}
.fancy__scroll {
  /* width */
  &::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $new-color;
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $white;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $azure-blue;
  }
}
