@import-normalize;

@font-face {
  font-family: 'DungGeunMo';
  src: url('common/fonts/DungGeunMo.eot'); /* IE9 Compat Modes */
  src: url('common/fonts/DungGeunMo.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('common/fonts/DungGeunMo.woff2') format('woff2'),
    /* Super Modern Browsers */ url('common/fonts/DungGeunMo.woff')
      format('woff'),
    /* Pretty Modern Browsers */ url('common/fonts/DungGeunMo.ttf')
      format('truetype');
  /* Safari, Android, iOS  url('assets/DungGeunMo.svg#svgFontName') format('svg'); /* Legacy iOS */
}

html,
body,
#root {
  height: 100%;
}

body,
body * {
  margin: 0;
  font-family: 'DungGeunMo', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: transparent;
  border: none;
}
