.error__page--root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;

  .error__page__title {
    font-size: 30px;
    margin-bottom: 50px;
  }

  .error__page__text {
    font-size: 22px;
    margin-top: 50px;
    white-space: pre-wrap;
    text-align: center;
  }

  .error__page__magician {
    white-space: pre-wrap;
    margin: 30px 0px 50px;
    text-align: center;
  }

  .error__page__button {
    font-size: 25px;
    text-align: center;
  }
}
